<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainiac</title>
    <link rel="stylesheet" href="/stylesheets/brainiac.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to Brainco</h1>
    <div class="container">
        <div class="card">
            <h2>Create Quiz</h2>
            <a href="/quizzes/create">Create here</a>
        </div>
        <div class="card">
            <h2>Join Quiz</h2>
            <a href="/quizzes/join">Join here</a>
        </div>
        <div class="card">
            <h2>View Leaderboard</h2>
            <a href="/quizzes/leaderboard">View here</a>
        </div>
        <div class="card">
            <h2>Previous Quizzes Report</h2>
            <a href="/quizzes/reports">View Reports</a>
            <a href="/quizzes/download">Download Reports</a>
        </div>
    </div>
</body>
</html>