<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainco</title>
</head>
<body>
    <h1>Welcome to Brainco </h1>
    <h2>create quiz</h2>
    <a href="/quizzes/create">Create here</a>
    <h2>Join Quiz</h2>
    <a href="/quizzes/join">Join here</a>
    <h2>view leaderboard</h2>
    <a href="/quizzes/leaderboard">View here</a>

</body>
</html>