<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Brainiac</p>
    <h2><a href="/users/signup">Signup</a></h2>
    <h2><a href="/users/login">Login</a></h2>
  </body>
</html>
