<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/auth.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/users/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
                <br><br>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>
            <br><br><br>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="/users/signup">Sign up</a></p>
        <hr>
        <div>
            <a href="/auth/google" class="btn google-btn">Login with Google</a>
        </div>
    </div>
</body>
</html>
