@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AR:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');


body {
    font-family: "Kanit", sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: rgb(126, 33, 126);
    font-family: "Playwrite HR Lijeva", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    position: relative;
    padding-top: 70px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
    border-color: rgb(126, 33, 126);
    outline: none;
}

button {
    background-color: rgb(126, 33, 126);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-family: "Kanit", sans-serif;
}

button:hover {
    color: rgb(126, 33, 126);
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}