<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header class="navbar">
        <div class="container">
            <h1 class="logo">Brainiac</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users/signup">Signup</a></li>
                    <li><a href="/users/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
<div class="box2">
        <div class="card1">Engaging Quizzes</div>
        <div class="card2">User Generated Content</div>
        <div class="card3">Real Time Results</div>
        <div class="card4">Leaderboard and Achievements</div>
        <div class="card5">Customizable Content</div>
        <div class="card6">Social Sharing</div>
    </div>
    <div class="image">
        <img src="brain.png" width="500" height="500">
    </div>
    <main class="container">
        <section class="intro">
            <!-- <h1><%= title %></h1> -->
            <span>Join the thousands testing their knowledge with our quizzes for free!</span> 
            <!-- <span class="logo">Brainiac</span> -->
            <br>
            <br>
            <div class="links">
                <a href="/users/signup" class="btn">Signup</a>
                <a href="/users/login" class="btn">Login</a>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Brainiac. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>